.fylogo
{
	width: 471px;
	height: 471px;
	background: url(pic/fywa.png);
	margin:0 auto;
}
.menu
{
	width: 800px;
	margin:0 auto;
	margin-top: 10%;
}
.menu img
{
	width: 200px;
	height: 200px;
}
.menu .list
{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}
.left
{
	float: left;
	height: 100%;
}
html,body{ 
margin:0px; 
height:100%; 
} 
#center{
	padding-left: 50%;
}
/*弹出窗口*/
.reveal-modal-bg
{
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000; 
	background: rgba(0,0,0,.8);
	z-index: 100;
	top: 0;
	left: 0;
}
.list_add
{
    /* visibility: hidden; */
    top: 100px; 
    left: 50%; 
    margin-left: -600px;
    width: 1000px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
}
/*弹出窗口*/